:root{
--mainColor: #46344e;

--secondaryColor: #382a3f;

--mainText: #fff;


--secondaryText: #eeeeee;

--borderColor: #1d1520;	

--themeDotBorder: #24292e;

--previewBg: rgb(29, 21, 32, 0.8);
--previewShadow: #2b202f;
--buttonColor: #8534a3;


}